<body>

    <div class="head">

        <div class="logo">
            <a href="#">PAGINA TAREA 2</a>
        </div>

        <nav class="navbar">
            <a href="#">Inicio</a>
            <a href="#">Conacto</a>
        </nav>

    </div>

    <header class="content header">
        <div data-testid="picture"><img alt="" src="https://cdn2.unrealengine.com/24br-s24-egs-launcher-logo-350x100-350x100-b63249f937d9.png?h=270&amp;quality=medium&amp;resize=1&amp;w=480" class="css-7i770w" data-image="https://cdn2.unrealengine.com/24br-s24-egs-launcher-logo-350x100-350x100-b63249f937d9.png?h=270&amp;quality=medium&amp;resize=1&amp;w=480"
                data-testid="picture-image"></div>

        <div class="btn-home">
            <a href="https://store.epicgames.com/es-ES/p/fortnite" class="btn">Nueva Temporada</a>
            <a href="https://www.youtube.com/watch?v=Y2WM_RijLsw" class="btn">Trailer nueva Temporada</a>
        </div>
    </header>

    <section class="content sau">

        <div class="box-container">

            <div class="box">
                <i class="fab fa-angular"></i>
                <h3>FORTNITE PC</h3>
                <p>Descarga Fortnite para PC,reúne a tus amigos y dad el salto a Fortnite</p>
            </div>
            <div class="box">
                <i class="fab fa-apple"></i>
                <h3>FORTNITE IPHONE</h3>
                <p>Explora entornos amplios y destruibles en los que dos partidas nunca serán iguales.</p>
            </div>
            <div class="box">
                <i class="fab fa-android"></i>
                <h3>FORTNITE ANDROID</h3>
                <p>Descubre nuevas formas de jugar a miles de modos de creadores con géneros que van desde las aventuras hasta el rol.</p>
            </div>

        </div>

    </section>

    <section class="content about">

        <h2 class="title">¿QUE ES FORTNITE?</h2>
        <p>Fortnite es un mundo de experiencias múltiples. Dejaos caer en la isla y competid hasta ser los últimos jugadores (o equipos) que queden en pie. Cread una isla personalizada con vuestras propias reglas. Quedad con vuestros amigos en una isla creada
            por una de vuestras amistades.
        </p>

        <a href="https://www.fortnite.com/news/what-is-fortnite-beginners-guide" class="btn">Saber mas</a>

    </section>

    <section class="content price">



    </section>

    <section class="content contact">
        <h2 class="title">Contacto</h2>
        <p>0986689977</p>

    </section>

</body>